<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <p>Session ID is <%= sessionID %></p>
  <iframe src="//<%= childHost %>:4000/child" frameborder="0" height="480" width="640"></iframe>
</body>

</html>